h1{
    color: aqua;
    font-size:50px; 
    font-weight: bold;
    font-family:fantasy;
    text-align: center;
    background-color: dodgerblue;
}
body{
     background-image: url("../image/de8be5ac.jpg");
}