h1{
    text-align: center;
    background-color: cornflowerblue;
}
h2{
    text-align: center;
    background-color:palevioletred;
    color: steelblue;
}
body{
    background-image: url(../images/18.jpg);
}
.a{
    color:pink;
}
h2#b{
    background-color: aquamarine;
}
.c{
    color: lawngreen;
}
h1#d{
    background-color: crimson;
}
