h1{
    background-color:lightcyan;
    color: grey;
    text-align: center;
}
body{
    background-image: url(../images/50213488_p0_master1200.jpg);
}
h2{
    background-color: floralwhite;
    color: grey;
    text-align: center;
}
h3{
    color: aliceblue;
}
p{
    color: lightyellow
}