div.wrap{
    width: 1000px;
    margin: 0px auto;
}

div.title{
    width: 1000px;
    height: 40px;
    background-color: aquamarine;
    text-align: center;
    font-size: 30px;
    padding: 0px auto;
    
}
div.middle{
    width: 1000px;
    height: 600px;
    background-color: whitesmoke;
    margin: 20px 0px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;

}
div.menu{
    width: 1000px;
    font-size: 0;
}
span.menuu{
    width: 240px;
    height: 40px;
    background-color: beige;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-family: "Impact";
    border: 5px dotted red;
    margin: 10px 0px;
}
div.images{
    width: 1000px;
    font-size: 0;
}
span.image1{
    width: 480px;
    height: 420px;
    display: inline-block;
    vertical-align: top;
    margin:0px 10px;
    text-align: center;
}
span.image2{
    width: 480px;
    height: 420px;
    display: inline-block;
    vertical-align: top;
    margin:0px 10px;
    text-align: center;
}
span.hitokoto1{
    width: 480px;
    height: 80px;
    background-color: aqua;
    display: inline-block;
    font-size: 18px;
    margin:5px 10px;
    text-align: center;
}
span.hitokoto2{
    width: 480px;
    height: 80px;
    background-color: aqua;
    display: inline-block;
    font-size: 18px;
    margin:5px 10px;
    text-align: center;
}
div.footer{
    width: 1000px;
    height: 40px;
    background-color:chartreuse;
    font-size: 30px;
    text-align: right;
}